<div class="row">
  <div class="large-4 large-centered columns">
    <ul class="button-group even-2">
      <li><a class="button" href="/products">Managers Portal</a></li>
      <li><a class="button" href="/shop">Customers Portal</a></li>
    </ul>
  </div>
</div>
