<form action="/products" method="post">
	<div>
		<input id="name" name="name" type="test" placeholder="Name">
    <input id="description" name="description" type="test" placeholder="Description">
    <input id="price" name="price" type="test" placeholder="Price">

	</div>

	<button type="submit">Add Item</button>
</form>
